@CHARSET "UTF-8";
#album {
	width:1000px;
	overflow:hidden;
	background-color: white;
	border-left:1px solid #d3d3d3;
	border-right:1px solid #d3d3d3;
	margin:0 auto;
}
#Navigation {
	padding-top:30px;
	border-bottom: 2px solid #C10D0C;
	width:920px;
	margin:0 auto;
}
#songpicture{
	height:1000px;
	float:left;
}
#songpicture ul{
	list-style:none;
}
#songpicture ul li:first-child{
	margin-left:5px;
	float:left;
}
#songpicture ul li:not(:first-child){
	float:left;
	margin-left:35px;
}

#songpicture img{
	height:150px;
	width:150px;
}
#second li{
	padding-top:30px;
}
#paging{
	width:480px;
	margin:20px auto;
}
